{% extends 'base.html.twig' %}

{% block body %}
    <a href="#">Update Article</a>
    <h2>titre : {{ article.title}}</h2>
    <p>author : {{ article.author.lastname}}{{ article.author.firstname}}/p>
    <p>Views: 5</p>
    <ul>
        {% for tag in article.tags%}
            <li>{{ article.tags}}</li>
        {% endfor %}

    </ul>
    <p>{{ article.content}}/p>
{% endblock %}
